.top{ 
    background-color:#99FFCD ;
    display: inline-block;
    height: 950px;
    margin-top:0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;
     width: 613px;
    position:absolute;
    left: 68%;
   
}
body{margin-top:0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px; background-color:#99FFCD   }

img{
    
    
    display: inline-block;
    height: 950px;
    width: 1300px;
}

.web{
    background-color: #F55353;
}

h1{margin-top:0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;    font-style: italic; font-size: 55px; color:#143F6B; }
p{margin-top:0px;margin-bottom: 0px;margin-left: 0px;margin-right: 0px;      font-size: 25px; color: #326f81;}
